#high-scores {
  ul {
    background-color: rgba(124, 115, 115, 0.5);
    padding-bottom: 10px;
    font-size: 40px;
  }
}

#leaderboard-data, h3 {
  background-color: rgba(124, 115, 115, 0.5);
  padding-top: 10px;
  font-size: 40px;

}

// option {
//   :nth-child(even) {
//     background-color: white;
//   }

//   :nth-child(odd) {
//     background-color: black;
//   }
// }


select {
  background-color: rgb(59, 191, 22);
  color: white;
  font-size: 40px;
  margin: 20px;
}