// @import "compass/css3";


// //Mixin ahoy
// //usage: @include glow([colorInCSSFormat, offsetX offsetY, sizeOfGlow, fallOffStepSize])
// @mixin glow($name, $color: rgb(255, 221, 27), $offset: 0 0, $size: 10px, $step: 10px){
//   @include animation($name 1.5s ease-in-out infinite alternate);
//   @include keyframes($name) {
//     from {
//       text-shadow: $offset $size rgba($color,1),
//                    $offset $size+$step*2 rgba($color,1),
//                    $offset $size+$step*3  rgba($color,0.95),
//                    $offset $size+$step*4  rgba($color,0.90),
//                    $offset $size+$step*6  rgba($color,0.80),
//                    $offset $size+$step*7  rgba($color,0.70),
//                    $offset $size+$step*9 rgba($color,0.50),
//                    $offset $size+$step*11 rgba($color,0.2),
//     }
//     to {
//     text-shadow: $offset $size rgba($color,1),
//                  $offset $size+$step*2 rgba($color,0.9),
//                  $offset $size+$step*3  rgba($color,0.7),
//                  $offset $size+$step*4  rgba($color,0.6),
//                  $offset $size+$step*6  rgba($color,0.5),
//                  $offset $size+$step*7  rgba($color,0.2),
//                  $offset $size+$step*9 rgba($color,0),
//                  $offset $size+$step*11 rgba($color,0),
//     }
//   }
// }

#dashboard {
    background-color: rgb(71, 108, 231);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
  }

button {
    display: inline;
    // @include transition(all 0.5s);
    color:rgba(0, 1, 41, 0.8);    
    // @include glow(neon, rgb(20, 151, 232), $step: 20px);
    margin-right: 10px;
}


#games {
    background-color:rgb(69, 123, 240);
    margin-bottom: 10px;
}

#leaderboard{
    background-color: rgb(71, 108, 231);
    height:250px;

}