#home {
    background-color: rgb(71, 108, 231);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
  }

button {
    display: inline;
    // @include transition(all 0.5s);
    color:rgba(0, 1, 41, 0.8);    
    // @include glow(neon, rgb(20, 151, 232), $step: 20px);
    margin-right: 10px;
}


#games {
    background-color:rgb(69, 123, 240);
    margin-bottom: 10px;
}

#leaderboard{
    background-color: rgb(71, 108, 231);
    height:250px;

}