//********** MAIN SCSS **********************
//=========================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-width: 0;
}

html, body, #container, #app, #landing, div#home {
    min-height: 100vh;
}

canvas {
    position: absolute;
    width: 100vw;
}

#home , #landing, #matchmaking, #countdown, #match-results{
    background-color: rgb(71, 108, 231);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
  }
  #home, #landing, #matchmaking, #countdown {
    background: url(https://i.imgur.com/G78CvSH.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
#matchmaking {
    height:500px;
}
#countdown {
    height:500px;
}

//********** HOME SCSS **********************
//=========================================
#home input{
    height:30px;
    font-size: 20px;
    color:rgb(84, 84, 245);
}

.title {
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 20px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #115ff0, 0 0 30px #115ff0, 0 0 40px #115ff0, 0 0 55px #115ff0, 0 0 75px #115ff0;
}


//********** INSTRUCTIONS SCSS **********************
//=========================================

#instructions {
    background-color: black;
    height:auto;
    padding-bottom: 20px;
}
#instructions li {
    display: inline;
    margin-right: 20px;
}

#up {
    height: 40px;
    width:40px;
    background-color: white;
    color:black;
    margin:auto;
    padding: 8px;
}
#up:hover {
    background: #1934e3;
    background-image: -webkit-linear-gradient(top, #1934e3, #6728c7);
    background-image: -moz-linear-gradient(top, #1934e3, #6728c7);
    background-image: -ms-linear-gradient(top, #1934e3, #6728c7);
    background-image: -o-linear-gradient(top, #1934e3, #6728c7);
    background-image: linear-gradient(to bottom, #1934e3, #6728c7);
    text-decoration: none;
    color:white;
}

#down{
    height: 40px;
    width:40px;
    background-color: white;
    color:black;
    display: inline-block;
    padding:10px;
    margin:auto;
}
#down:hover {
    background: #1934e3;
    background-image: -webkit-linear-gradient(top, #1934e3, #6728c7);
    background-image: -moz-linear-gradient(top, #1934e3, #6728c7);
    background-image: -ms-linear-gradient(top, #1934e3, #6728c7);
    background-image: -o-linear-gradient(top, #1934e3, #6728c7);
    background-image: linear-gradient(to bottom, #1934e3, #6728c7);
    text-decoration: none;
    color:white;
}

#left {
    height: 40px;
    width:40px;
    background-color: white;
    color:black;
    margin:auto;
    display: inline-block;
    margin-right:10px;
    padding: 10px;
}
#left:hover {
    background: #1934e3;
    background-image: -webkit-linear-gradient(top, #1934e3, #6728c7);
    background-image: -moz-linear-gradient(top, #1934e3, #6728c7);
    background-image: -ms-linear-gradient(top, #1934e3, #6728c7);
    background-image: -o-linear-gradient(top, #1934e3, #6728c7);
    background-image: linear-gradient(to bottom, #1934e3, #6728c7);
    text-decoration: none;
    color:white;
}

#right {
    height: 40px;
    width:40px;
    background-color: white;
    color:black;
    margin:auto;
    display: inline-block;
    margin-left:10px;
    padding: 10px;
}
#right:hover {
    background: #1934e3;
    background-image: -webkit-linear-gradient(top, #1934e3, #6728c7);
    background-image: -moz-linear-gradient(top, #1934e3, #6728c7);
    background-image: -ms-linear-gradient(top, #1934e3, #6728c7);
    background-image: -o-linear-gradient(top, #1934e3, #6728c7);
    background-image: linear-gradient(to bottom, #1934e3, #6728c7);
    text-decoration: none;
    color:white;
}

#space{
    height: 40px;
    width:130px;
    background-color: white;
    color:black;
    margin:auto;
    margin-top: 20px;
}
#space:hover {
    background: #1934e3;
    background-image: -webkit-linear-gradient(top, #1934e3, #6728c7);
    background-image: -moz-linear-gradient(top, #1934e3, #6728c7);
    background-image: -ms-linear-gradient(top, #1934e3, #6728c7);
    background-image: -o-linear-gradient(top, #1934e3, #6728c7);
    background-image: linear-gradient(to bottom, #1934e3, #6728c7);
    text-decoration: none;
    color:white;
}


//********** MATCHMAKING SCSS **********************
//=========================================

.loader {
    border: 26px solid #ffffff; /* Light grey */
    border-top: 26px solid #3ef1ad; /* Blue */
    border-radius: 50%;
    width: 15em;
    height: 15em;
    animation: spin 2s linear infinite;
    margin: 2em auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#matchmaking h1 {
    font-size: 50px;
}

//********** LEADERBOARD SCSS **********************
//=========================================

#leaderboard {
    height: auto;
    background-color: black;
    opacity: .8;
}

ul {
    padding:0;
}
li {
    list-style: none;
    text-align: center;
    opacity: 1;
}


//********** AUDIO BUTTON SCSS **********************
//=========================================
#audio {
    position: absolute;
    right: 10vw;
    top: 7.5px;
    margin: 0px;
    padding: 2px 5px;
    background-image: none;
    background-color: black;
}

#audio:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
