#home , #landing, #matchmaking, #countdown, #match-results{
    background-color: rgb(71, 108, 231);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
  }

#home h1 {
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 20px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #115ff0, 0 0 30px #115ff0, 0 0 40px #115ff0, 0 0 55px #115ff0, 0 0 75px #115ff0;
}
#landing h1 {
    font-size: 40px;
}
#matchmaking h1 {
    font-size: 50px;
}
#home input{
    height:30px;
    font-size: 20px;
    color:rgb(84, 84, 245);
}
#instructions {
    background-color: black;
    height:auto;
    padding-bottom: 20px;
}
#instructions li {
    display: inline;
    margin-right: 20px;
}
#profiles {
    height: 300px;
    margin-top: 100px;
    background-color: black;
    opacity: .8;
}

button {
    background: #1934e3;
    background-image: -webkit-linear-gradient(top, #1934e3, #6728c7);
    background-image: -moz-linear-gradient(top, #1934e3, #6728c7);
    background-image: -ms-linear-gradient(top, #1934e3, #6728c7);
    background-image: -o-linear-gradient(top, #1934e3, #6728c7);
    background-image: linear-gradient(to bottom, #1934e3, #6728c7);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
.button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

#home, #landing, #matchmaking, #countdown {
    background: url(https://i.imgur.com/G78CvSH.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}


button {
    display: inline;
}

.loader {
    border: 16px solid #ffffff; /* Light grey */
    border-top: 16px solid #3ef1ad; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}